MODEL:
  NAME: bank_tab
  HIDDEN_SIZE: 32
  NUM_LAYERS: 6
  NUM_HEADS: 8

TRAIN:
  RUN_NAME: hidden(32)-layers(6)-heads(8)
  BATCH_SIZE: 128
  EPOCHS: 10
  PATIENCE: 3

  SCHEDULER: one_cycle
  
  FIRST_CYCLE_STEPS: 50
  CYCLE_MULT: 1.0
  MAX_LR: 0.001
  MIN_LR: 0.00001
  WARMUP_STEPS: 10
  GAMMA: 0.5
